* {
    font-family: monospace;
    color: #999999;
    background-color: #283032;
    text-align: center;
}

strong {
    color: #eeeeee;
}

body {
    text-align: center;
    font-size: 14px;
}

a:link {
    color: #199878;
}

a:hover {
    color: #09684a;
}

a:visited {
    color: #0c5628df;
}

#dump {
    height: 75vh;
    margin: 0 auto;
    align-items: center;
}

#fast {
    width: 400px;
    height: 60vh;
    border-radius: 30px;
    border: 1px solid #ecf0f1;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #23292a;
    text-align: left;
    text-wrap: nowrap;
    min-width: 400px;
    min-height: 60vh;
    padding: 20px;
}

#fast::-webkit-scrollbar {
    display: none;
}

@media (max-width: 480px) {
    #fast {
        width: 80%;
        height: 60vh;
        border-radius: 30px;
        border: 1px solid #ecf0f1;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background-color: #23292a;
        text-align: left;
        text-wrap: nowrap;
        min-width: 80%;
        min-height: 60vh;
        padding: 20px;
    }
    
    #fast::-webkit-scrollbar {
        display: none;
    }
}