@font-face {
    font-family: 'OpenDyslexic-Regular';
    src: url("../fonts/OpenDyslexic-Regular.woff2") format("woff2"),
        url("../fonts/OpenDyslexic-Italic.woff2") format("woff2"),
        url("../fonts/OpenDyslexic-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'OpenDyslexic-Italic';
    src: url("../fonts/OpenDyslexic-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'OpenDyslexic-Bold';
    src: url("../fonts/OpenDyslexic-Bold.woff2") format("woff2");
}

* {
    font-family: consolas;
    color: #aaaaaa;
    background-color: #283032;
    text-align: center;
}

strong {
    color: #eeeeee;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 70vw;
    text-align: center;
    font-size: 16px;
    animation: rest 1s cubic-bezier(0.8, 0, 0.8, 0.8);
}

a:link {
    color: #22aa99;
}

a:hover {
    color: #119988;
}

a:visited {
    color: #137c50;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#dump {
    min-height: 70vh;
    /* margin: 0 auto; */
    align-items: center;
}

#blog {
    font-family: 'OpenDyslexic-Regular', cursive, consolas;
    font-size: 14px;
    width: 50vw;
    text-align: left;
    margin-left: 10vw;
}

#blog a {
    font-family: 'OpenDyslexic-Regular', cursive, consolas;
    font-size: 14px;
}

#blog strong {
    font-family: 'OpenDyslexic-Bold', cursive, consolas;
    font-size: 14px;
}

#blog em {
    font-family: 'OpenDyslexic-Italic', cursive, consolas;
    font-size: 14px;
}

#fast {
    font-size: 14px;
    width: 400px;
    height: 60vh;
    /* border-radius: 30px; */
    border: 1px solid #ecf0f1;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #23292a;
    text-align: left;
    text-wrap: nowrap;
    min-width: 400px;
    min-height: 60vh;
    padding: 20px;
}

#fast strong {
    color: #eeeeee;
    background-color: #23292a;
}

#fast::-webkit-scrollbar {
    display: none;
}

@media (max-width: 720px) {
    #content {
        width: 100vw;
    }

    #blog {
        width: 80vw;
        font-size: 12px;
        text-align: left;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #fast {
        font-size: 12px;
        width: 90%;
        height: 60vh;
        /* border-radius: 30px; */
        border: 1px solid #ecf0f1;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background-color: #23292a;
        text-align: left;
        text-wrap: nowrap;
        min-width: 80%;
        min-height: 60vh;
        padding: 20px;
    }

    #fast strong {
        color: #eeeeee;
        background-color: #23292a;
    }

    #fast::-webkit-scrollbar {
        display: none;
    }
}

#upa {
    -webkit-animation: upa-dance 0.5s ease-out forwards;
    animation: upa-dance 0.5s ease-out forwards;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

@keyframes upa-dance {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        pointer-events: none;
    }
}

@-webkit-keyframes upa-dance {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes rest {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rest {
    0% {
        opacity: 0;
        pointer-events: none; 
    }
    100% {
        opacity: 1;
    }
}

mjx-container.MathJax {
    pointer-events: none;
}