* {
    font-family: monospace;
    color: #999999;
    background-color: #283032;
    text-align: center;
}

strong {
    color: #eeeeee;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    font-size: 14px;
    animation: rest 1s cubic-bezier(0.8, 0, 0.8, 0.8);
}

a:link {
    color: #199878;
}

a:hover {
    color: #09684a;
}

a:visited {
    color: #0c5628df;
}

#dump {
    height: 75vh;
    margin: 0 auto;
    align-items: center;
}

#fast {
    width: 400px;
    height: 60vh;
    border-radius: 30px;
    border: 1px solid #ecf0f1;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #23292a;
    text-align: left;
    text-wrap: nowrap;
    min-width: 400px;
    min-height: 60vh;
    padding: 20px;
}

#fast strong {
    color: #eeeeee;
    background-color: #23292a;
}

#fast::-webkit-scrollbar {
    display: none;
}

@media (max-width: 480px) {
    #fast {
        width: 80%;
        height: 60vh;
        border-radius: 30px;
        border: 1px solid #ecf0f1;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background-color: #23292a;
        text-align: left;
        text-wrap: nowrap;
        min-width: 80%;
        min-height: 60vh;
        padding: 20px;
    }

    #fast strong {
        color: #eeeeee;
        background-color: #23292a;
    }

    #fast::-webkit-scrollbar {
        display: none;
    }
}

#upa {
    -webkit-animation: upa-dance 0.5s ease-out forwards;
    animation: upa-dance 0.5s ease-out forwards;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

@keyframes upa-dance {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        pointer-events: none;
    }
}

@-webkit-keyframes upa-dance {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes rest {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
    }
}